@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@import "./scss/_variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
   font-family: var(--font-body-family);
}