@charset "UTF-8";
html, body {
  height: 100%;
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  html, body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  section {
    height: 100vh;
    scroll-snap-align: start;
  }
}
@media (max-width: 1023px) {
  section {
    height: auto;
  }
}
.partner-track {
  display: flex;
  gap: 10rem; /* 로고 간 간격 */
  width: max-content;
  animation: scroll-left 90s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* 두 배 채웠으므로 -50% 이동 */
  }
}
/* 모바일에서는 자동롤링 비활성화 */
@media (max-width: 1023px) {
  .partner-track {
    animation: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}
header.header-dark {
  color: black;
  background-color: black;
}

@keyframes rolling-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-rolling-slow {
  animation: rolling-slow 60s linear infinite;
}

.solution_bg {
  background: url(/img/solution_bg.jpg) no-repeat center;
}

.eco_bg {
  background: url(/img/eco.jpg) no-repeat center;
}

.service_bg {
  background: url(/img/service.jpg) no-repeat center;
}

.review-pagination .swiper-pagination-bullet {
  @apply bg-main-primary w-2 h-2;
}

.review-pagination .swiper-pagination {
  gap: 1px;
}

@media (min-width: 1080px) {
  .review-pagination .swiper-pagination-bullet {
    @apply w-8 h-1 bg-gray-300 rounded-full opacity-50 transition-all;
    border-radius: 0;
  }
  .review-pagination .swiper-pagination-bullet-active {
    @apply w-8 bg-[#3C4A3E80] opacity-100;
    border-radius: 0;
  }
  .custom-swiper-pagination .swiper-pagination-bullet {
    width: 35px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5019607843); /* 흐린 흰색 */
    opacity: 1;
    border-radius: 0;
  }
  /* 활성화된 dot */
  .custom-swiper-pagination .swiper-pagination-bullet-active {
    background: rgba(60, 74, 62, 0.5019607843);
  }
}
.custom-swiper-pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 2px !important;
  margin-top: 20px !important;
  height: 20px !important;
}

/* 기본 dot 스타일 */