@charset "UTF-8";
html, body {
  height: 100%;
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  html, body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  section {
    height: 100vh;
    scroll-snap-align: start;
  }
}
@media (max-width: 1023px) {
  section {
    height: auto;
  }
}
.partner-track {
  display: flex;
  gap: 10rem; /* 로고 간 간격 */
  width: max-content;
  animation: scroll-left 90s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* 두 배 채웠으므로 -50% 이동 */
  }
}
/* 모바일에서는 자동롤링 비활성화 */
@media (max-width: 1023px) {
  .partner-track {
    animation: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}
header.header-dark {
  color: black;
  background-color: black;
}